  .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  #search-input {
      padding: 10px;
      font-size: 18px;
      border: 2px solid black;
      border-radius: 5px;
  }

  #show-search-input {
      font-size: 14px;
      color: black;
      background-color: lightgray;
      border-radius: 5px;
      display: inline-block;
  }

  .btn {
      padding: 10px 20px;
      font-size: 18px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .btn:active {
      transform: translateY(4px);
  }

  .btn-disabled {
      cursor: progress;
      background-color: rgba(0, 0, 0, 0.48);
      color: white;
  }

  .btn-disabled:active {
      transform: translateY(1px);
  }